body{
	background-image: url(fundo.png);
}

.segunda{
	position: absolute;
	top: 0;
	right: 0; 
	height: auto;
	width: 50%;

}
#estilo{
	position: fixed;
	font-family: "Comic Sans MS";
	font-size: 30px;
	color:#315431;
	width: 900px;
	line-height: 75px;
	text-align: center;
}
/*---buttons---------------------------------------------*/
.buttonOne {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 7px;
}

.buttonOne:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 6px;
}

.texto{
	border-radius: 8px;
	border: 2px solid #A4A4A4;
	font-size: 30px;
	text-align: center;
	height: 40px;
	width: 300px;
}
